body {
  font-family: monospace;
  background-color: rgb(224, 210, 184);
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  background-color: beige;
  border: 0px;
  margin: 10px;
}
